<h1>New Account</h1>
<form method="post" action="/login">
    <input type="text" name="FirstName" placeholder="FIRST NAME"><br>
    <input type="text" name="LastName" placeholder="LAST NAME"><br>
    <input type="text" name="Username" placeholder="USERNAME"><br>
    <input type="password" name="Password" placeholder="PASSWORD"><br>
    <input type="submit">
</form>

<a href="/login">Login</a>